/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.2;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}

/* * {
    font-family: 'Times New Roman', Times, serif;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}


html {
    font-size: 10pt;
    background-color: white;
    color: black;
}
main {
    padding: 5%;
}

/* desktop screen */
@media screen and (min-width: 769px) {
    main {
        width: 768px;
        padding: 5% 0;
        margin: 0 auto;
    }
}

@media print {

    .hide-in-print {
        display: none;
    }

    html {
        font-size: 10pt;
        margin: 0;
    }
    
    @page { 
        margin: 1cm 
    }

    main {
        padding: 0;
        margin: 0;
    }
}

a {
    color: inherit;
}

a:hover {
    color: blue;
}

.two-column-grid {
    display : grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-content: end;
    align-items: end;
}

.company-desc {
    margin-left: 2px;
}

@media screen and (max-width: 576px) {
    .two-column-grid {
        display : grid;
        grid-template-columns: 100%;
    }

    .exp section .employer .loc {
        width: 100%;
        justify-self: start;
    }

    .company-desc {
        margin-left: 0;
    }
    .hide-on-mobile {
        display: none;
    }
}

article h2 {
    border-bottom: 1px solid #000000;
    margin-bottom: 8px;
}

article section {
    margin-bottom: 5px;
}

.exp section .employer {
    margin-bottom: 3px;
}

.exp section .employer .loc {
    justify-self: end;
}
